body{
    background-color:#142601;
    color: #e0f7c8;
    font-family: verdana;
}


h1{
    color:#F5FFD5 ;
    text-align: center;
}

p{
    text-align: justify;
    line-height: 2.2;
    font-size: 18px;
    font-family: Comic Sans Ms;
}

ul{ 
    font-size: 2cap;
}

li{
    font-size: 18px;
}

