body{
    background-color: rgb(246, 246, 229);
}


h1{
    color: rgb(26, 26, 152);
    text-align: center;
}

p{
    text-align: justify;
    line-height: 1.5;
    font-size: 16px;
    font-family: Comic Sans Ms;
}

ul{

}

li{

}